<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
    {% if not id %}
        <H1>States</H1>
        <UL>
        {% for x in state|sort(attribute='name') %}
            <LI>{{ x.id }}: <B>{{ x.name }}</B></LI>
        {% endfor %}
        </UL>
    {% else %}
        {% for x in state if x.id == id -%}
            <H1>State: {{ x.name }}</H1>
        <H3>Cities:</H3>
        <UL>
            {% for y in x.cities | sort(attribute='name') %}
                <LI>{{ y.id }}: <B>{{ y.name }}</B></LI>
            {% endfor %}
        </UL>
        {% else -%}
        <H1>Not found!</H1>
        {% endfor -%}
    {% endif %}
    </BODY>
</HTML>
